/* Print */

body {
	font-family: times;
}
nav {
	display: none;
}

header img {
	display: none;
}

article {
	float: left;
	width: 50%;
	border: 1px solid lightgray;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 1rem;
	margin-left: 3%;
	padding: 1rem;
}

h2 {
	font-family: 'Copse', serif;
	color: #000;
}

table {
	width: 40%;
	padding-left: 5%;
	margin-top: 1rem;
}

tr {
	height: 3rem;
}

th:nth-of-type(1n+2) {
	text-align: right;
}

th {
	border-bottom: 1px solid lightgray;
	background-color: cadetblue;
	color: beige;
	padding-left: 5px;
	padding-right: 5px;
}

th:first-of-type {
	text-align: left;
}

td:first-of-type {
	padding-left: 5px;
}
td:nth-of-type(1n+2) {
	text-align: right;
	width: 10rem;
	padding-right: 5px;
}
thead {
	border-bottom: 1px dash lightgray;
}

tbody tr:nth-of-type(even) {
	background-color: beige;
}

tbody tr:last-of-type td {
	border-bottom: 1px solid lightgray;
}

footer {
	clear: both;
	height: 30px;
	background-color: cadetblue;
	color: beige;
}

footer p {
	padding-top: .3rem;
	padding-left: 3rem;
}

