#verticalNav {
    margin: 50px 0 0 50px;
    width: 250px;
}

#verticalNav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#verticalNav ul li {
    border-bottom: 1px solid #fff;
}
#verticalNav ul li a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #000;
    text-decoration: none;
    text-indent: 50px;
    background: url(../image/rolloverBkgrnd.gif) no-repeat left bottom;
}

#verticalNav ul li a:hover {
    background-position: right bottom;
}