h1 {
    font-family: 'Permanent Marker', cursive;
}

body {
    font-family: 'Cabin', sans-serif;
}

thead {
    background-color: #dddddd;
}

table {
    width: 100%;
    border-spacing: 0 15px;
}

tr:nth-child(3n+3) {
    background-color: #eeeeee;
}


@media screen and (max-width: 750px) {
    table {
        display: block;
    }

    caption {
        position: absolute;
        left: -99999%;
        top: -999999%;
    }

    td {
        border: none;
        position: relative;
        padding-left: 40%;
        white-space: normal;
        text-align: left;
    }

    td:before {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 40%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

}

img {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

p:first-of-type {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    color: white;
    text-align: left;
}

p:last-of-type {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50%;
    text-align: right;
    color: white;
}
