body {
    background-color: #f8eee4;
    font-family: sans-serif;
}
#wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    padding-left: 90px;
    padding-right: 90px;
}
header {
    background-color: #b58e41;
    color: white;
    max-width: 960px;
    height: 130px;
    padding-left: 80px;
    padding-top: 25px;
}

h1{
    margin-bottom: 10px;
}
h2 {
        color: #382926;
}
footer {
    width: 960px;
    height: 25px;
    font-size: 9px;
    background-color: #b58e41;
}
.indent {
    padding-left: 80px;
}
section p {
    padding-top: 15px;
    padding-bottom: 15px;
}
footer p {
    padding-top: 1.1em;
}