body {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: "courier new", monospace;
    font-size: 1em;
    color: white;
}
#wrapper {
    max-width: 60em;
    margin: 0em auto;
    background-color: white;
    padding-left: 5.625em;
    padding-right: 5.625em;
    color: black;
}
header {
    background-color: #b58e41;
    color: white;
    max-width: 60em;
    height: 8.125em;
    padding-left: 5em;
    padding-top: 1.5625em;
}

h1{
    margin-bottom: 0.625em;
}
h2 {
    color: #382926;
}
footer {
    width: 41em;
    height: 1.5625em;
    font-size: 1.3em;
    background-color: #b58e41;
    

}
.indent {
    padding-left: 5.125em;
}
section p {
     padding-top: 15px;
    padding-bottom: 15px;
}

footer p 
{
    padding-top: 1.1em;
    font-size: 0.625em;
    
}