html {
    background-color: hsla(80, 47%, 48%, 0.75);
}
body {
    background-color: hsla(80, 47%, 48%, 0.75);
    font-family: "FreeMono", monospace;
}
#wrapper {
    max-width: 50.75%;
    margin: 0 auto;
    background-color: white;
    padding-left: 9.375%;
    padding-right: 9.375%;
}
header {
    background-color: #b58e41;
    color: white;
    max-width: 100%;
    height: 100%;
    padding-left: 0.333333333333333%;
    padding-top: 2.604166666666667%;
}

h1{
    margin-bottom: 1.041666666666667%;
}
h2 {
        color: #382926;
}
footer {
    width: 115%;
    height: 3.604166666666667%;
    font-size: 80.9375%;
    background-color: #b58e41;
}
.indent {
    padding-left: 0.333333333333333%;
}
section p {
    padding-top: 1.5625%;
    padding-bottom: 1.5625%;
}
footer p {
    padding-top: 1.770833333333333‬%;
}