body {
    background-color: rgb(65, 65, 280);
    font-family: "Bookman", "URW Bookman L" , serif
}
#wrapper {
    max-width: 50.889vw;
    margin: 0 auto;
    background-color: white;
    padding-left: 8.333vw;
    padding-right: 8.333vw;
}
header {
    background-color: #b58e41;
    color: white;
    max-width: 50.889vw;
    height: 6.204vw;
    padding-left: 0.407vw;
    padding-top: 0.315vw;
}

h1{
    margin-bottom: 0.926vw;
}
h2 {
        color: #382926;
}
footer {
    width: 50.889vw;
    height: 2.315vw;
    font-size: 0.833vw;
    background-color: #b58e41;
}
.indent {
    padding-left: ;
}
section p {
    padding-top: 1.389vw;
    padding-bottom: 1.389vw;
}
footer p {
    padding-top: 1.1em;
}