body {
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}
header h1 {
    font-family: 'Ultra', serif;
    color: #36a; 
    float: left;
    position: absolute;
    top: 30px;
    left: 75px;
    font-size: 75px;
}
header img {
   max-width: 100%;
    float: left;
    height: auto;
    
}
nav {
    background-color: black;
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    list-style-type: none;
}
nav a{
    color: beige;
    padding: 10px 50px;
    text-decoration: none;
    margin: 10px;
    line-height: 2rem;
}
nav a:hover {
    color: lightcoral;
}
nav li{
    margin-bottom: 10px;
}
nav li, 
footer li {
    display: inline;
    float: left;
}
article {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 200px;
}
#results {
    float: left;
    display: block;
    border-radius: 10px;
    border: 1px solid lightgray; 
    margin-left: 320px;

    box-shadow: 10px 10px 24px 1px rgba(170,170,170,0.42);
}
#partners {
    float: left;
    display: block;
    border-radius: 10px;
    margin-left: 150px;
    border: 1px solid lightgray;

    box-shadow: 10px 10px 24px 1px rgba(170,170,170,0.42);
}
article  {
    padding: 10px;
}
#future {
    float: left;
    display: block;
    border-radius: 10px;
    margin-left: 150px;
    border: 1px solid lightgray;

    box-shadow: 10px 10px 24px 1px rgba(170,170,170,0.42);
}



footer {
    background-color: black;
    clear: both;
    height: 150px;
    color: beige;
}
footer a{
    color: beige;
    text-decoration: none;
}
footer a:hover {
    color: lightcoral;
}
#copyright{
    float: left;
   margin: 100px 650px 0px 15px;
}
#contactUs {
    float: left;
    height: 100px;
    margin-right: 200px;
    list-style-type: none;
}
#resources{
    list-style-type: none;
    float: left;
    
}