/* blue = #0b5fae  or rgb(11, 95, 174)
   light blue = #d4f4dc   or rgb(212, 244, 220) */

	body {
			background-color: powderblue;
		}
	
	#wrap {
		width: 90%;
		max-width: 960px;
		margin: 5px auto;
		background-color: #fff;
		font-size: 100%
	}

	header {
        text-indent: 5px;
		background-color: #0b5fae;
		height: 125px;
			
	}
	
	h1 {
		color: #fff;
		padding-top: 35px;
		padding-left: 1.875rem;
	
	}
	
nav {
    float: left;
    margin: 27px 0 0 27px;
    width: 220px;
}

nav ul {
    
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    border-bottom: 3px solid #fff;
}

nav ul li a {
    display: block;
    width: 220px;
    height: 37px;
    line-height: 37px;
    color: #fff;
    text-decoration: none;
    text-indent: 50px;
    background: url(../Image/Sprite.png) no-repeat left bottom;
}

Nav ul li a:hover {
    background-position: right bottom;
}



	section {
		float: right;
		width: 65%;
		padding-right: 1.875rem;
		padding-top: 10px;
		margin-left: .625rem;

	}
	
	
	footer {
		clear: both;
		background-color: #0b5fae;
	}
	
	footer h5 {
		color: #fff;
		padding: 10px 1.875rem;
	}