body {
    background-color: rgba(87.1%, 72.2%, 52.9%, .5);
}

#wrapper {
    width: 100%;
    max-width: 50.4%;
    background-color: white;
    margin: .5% auto;

}

#head {
    color: white;
    background-color: #6e7c96;
    height: 155px;
}

#head img{
    width: 100%;
}

#head h1 {
    text-align: center;
    margin-top: -45px;
    color: white;
}

#nav {
    background-color: #6e7c96;
}

#content1 {
    padding: 7.7%;
}

#content1 img {
    float: left;
    width: 33.3%;
}

#content2 {
    float: right;
    padding-right: 15%;
}

.title {
    clear: both;
    padding-top: 7%;
}

#art1 {
    float: left;
    width: 33.3%;
}

#art2 {
    float: left;
    width: 33.3%;
}

#art3 {
    float: right;
    width: 33.3%;
}
#foot {
    clear: both;
    background-color: #6e7c96;
    height: 25px;
}

#foot p {
    margin: 7.7%;
    color: white;
    font-size: 1em;
}