/* Colors */
		/*    brown: #660000
		      green: #336600
		      yellow: #ffffdd
		      light cream: #fffffe
			                    */	
		
		* {
			padding: 0;
			margin: 0;
			border: 0;
			}

		body {
			font-size: 62.5%;
			background-color: #fffffe;
			text-align: center;
			font-family: Arial, Helvetica, sans-serif;
			}

		#wrap {
			text-align: left;
			width: 76em;
			margin: .5em auto;
			position: relative;
			}
			
		#header {
			background-color: #660000;
			height: 8em;
			}
			
		#header h1 {
			position: absolute;
			top: 0;
			left: -1000000px;
			}
			
/* Code for the navigation goes here */


#skipNav {
    position: absolute;
    top: 0;
    ;left: -10000000000em;
}
#nav ul {
    float: left;
    width: 71em;
    margin: 0;
    padding: .5em 0 0 5em;
    list-style-type: none;
    background-color: #600;
}

#nav li {
    float: left;
    margin-right: .5em;
    padding: 0;
}

#nav a {
    display: block;
    margin: 0;
    padding: .5em 1em;
    color: #ff9;
    text-decoration: none;
    background-color: #360;
}

			
		#content {
			background-color: #ffd;	
			font-size: 1.6em;
			padding: 0 7% 7% 7%;
			line-height: 1.2em;
			}
			
		#sidePic {
			float: left;
			width: 35%;
			padding-top: 4%;
			}

		#sidePic p {
			color: #360;
			font-size: .6em;
			font-style: italic;
			line-height: normal;
			text-align: center;
			}		
			
		#content h2 {
			color: #600;
			padding-top: 3%;
			}
			
		#text {
			color: #360;
			float: right;
			width: 60%;
 			padding-left: 5%;
			padding-top: 2%;
			}
			
		#content p {
			padding: .5em 0;
			}
		
		#page_one #nav_one a,
		#page_two #nav_two a,
		#page_three #nav_three a,
		#page_four #nav_four a,
		#page_five #nav_five a {
			background-color: #ffd;
			color: #360;
			padding-bottom: .5em;
			}
		
		.clearFloat {
			clear: both;
			}
