body {
    width: 100%;
    font-family: times;
}
header h1 {
    font-family: 'Ultra', serif;
    color: #000; 
}
header img {
display: none;
}
nav {
    display: none
}

footer a{
    color: black;
    text-decoration: none;
}
