body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

p {
    width: 500px;
    margin-left: 10px;
}

#images {
    margin-left: 50px;
    margin-top: -50px;
}

/* h1 {
    transform: translateY(215px)
    rotate(-.25turn)
    transform-origin: left top;
 } */

 /* h1 {
     background-color: bisque;
 } */

 /* h1 {
     transform: rotate(-.25turn) 
     translateY(215px);
     transform-origin:  left top;
 } */

 h1 {
    transform: rotate(-.25turn) 
    translateX(-215px);
    transform-origin:  left top;
} 