img {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    background-color: white;

    transform: rotate(-18deg);
}
/* img:first-child{
    transform: rotate(-18deg);
}

img:last-child{
    transform: rotate(342deg);
} */

img:first-child {
    transform-origin: right top;
}

img:last-child {
    transform-origin: left bottom;
}
