body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
    width: 650px;
    margin-left: 20px;
}

#images {
    margin-left: 10px;
    /* min-width: 884px; */
}

.scaleimg {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    /* transform: scale(0.66); */
}

.scaleimg:first-child {
    transform-origin: left top;
}

.scaleimg:last-child {
    transform-origin: right top;
}

.scaleimg:hover {
    transform: scale(1.5);
}