div {
    background-color: #903;
    color: #fff;
    font-size: 24px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    width: 120px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    float: left;
}

#horizontal {
    transform: scaleX(-1);s
}

#vertical {
    transform: scaleY(-1);
}

#shrinkflip {
    transform: scale(-.5, -.5);
}