h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 48px;
    margin: 5px;
    transform-origin:  left;
}

#horizontal {
    transform: scaleX(.5);
}

#vertical {
    transform: scaleY(.5);
}