div {
    width: 240px;
    background-color: #036;
    color: #fff;
    margin: 35px;
    float: left;
    font-family: Tahoma, Geneva, sans-serif ;
    font-weight: bold;
    font-size: 36px;
    padding: 20px;
    text-align: center;
}

#horizontal {
    transform: skewX(-30deg);
}

#vertical {
    transform: skewY(-25deg);
}