body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#wrapper {
    width: 850px;
    margin: 0 auto;
}

p {
    width: 650px;
    margin-left: 20px;
}

#images {
    margin-left: 10px;
}

img {
    margin: 10px;
}

img:last-child {
    /* long hand */
    /* transform: translateX(25%) translateY(50px); */

    /* short hand */
    transform: translate( 30px, -10px);
}