#page {
    width: 1280px;
    margin: 0 auto;
   
}

nav {
    width: 67.3%;
    position: absolute;
    top: 0;
    list-style-type: none;
    background-color: black;
    height: 2em;
}

nav a {
    color: beige;
    padding: 5px 20px;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    color: aqua;
}

nav li {
    margin-bottom: 10px;
    display: inline;
    float: left;
    padding-left: 75px;
    margin-top: -10px;
    font-family: 'Philosopher', sans-serif;
}

nav img {
    float: left;
}

nav p {
    color: beige;
    float: left;
    padding-left: 10px;
    margin-top: 5px;
    font-family: 'Artifika', serif;
}

section h2 {
    background-color: #a52a2a;
    color: beige;
    font-family: 'Artifika', serif;
}

header img {
    width: 100%;
    margin-top: -205px;
    margin-bottom: -102px;
}

#girl {

    color: black;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    padding: 20px;
    width: 150px;
    bottom: -220px;
    left: 150px;
    border-radius: 50%;
    position: relative;
    border: #a9a9a9 solid 1px;
    font-family: 'Artifika', serif;
}

#girl::before,
#girl::after {
    content: "";
    border: #a9a9a9 solid 2px;
    border-radius: 50%;
    position: absolute;
}

#girl::before {
    height: 10px;
    width: 10px;
    bottom: -30px;
    left: 105px;
}

#girl::after {
    height: 5px;
    width: 5px;
    bottom: -55px;
    left: 100px;
}

#guard {
    color: black;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    padding: 20px;
    width: 150px;
    bottom: 75px;
    left: 850px;
    border-radius: 50%;
    position: relative;
    border: #a9a9a9 solid 1px;
    font-family: 'Artifika', serif;
}

#guard::before,
#guard::after {
    content: "";
    border: #a9a9a9 solid 2px;
    border-radius: 50%;
    position: absolute;
}

#guard::before {
    height: 10px;
    width: 10px;
    bottom: -30px;
    left: 0px;
}

#guard::after {
    height: 5px;
    width: 5px;
    bottom: -55px;
    left: -25px;
}

#boy {

    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    padding: 25px;
    width: 125px;
    bottom: 655px;
    left: 900px;
    border-radius: 50%;
    position: relative;
    border: #a9a9a9 solid 1px;
    font-family: 'Artifika', serif;
}

#boy::before,
#boy::after {
    content: "";
    border: #a9a9a9 solid 2px;
    border-radius: 50%;
    position: absolute;
}

#boy::before {
    height: 10px;
    width: 10px;
    bottom: -30px;
    left: 125px;
}

#boy::after {
    height: 5px;
    width: 5px;
    bottom: -55px;
    left: 120px;
}

footer {
    background-color: black;
    color: beige;
    font-family: 'Philosopher', sans-serif;
}

#multiCol {
    font-family: 'Philosopher', sans-serif;
    column-count: 3;
    column-rule-width: 3px;
    column-rule-style: solid;
    column-rule-color: #a52a2a;
    column-gap: 45px;
}

#multiCol p:nth-of-type(n) {
    padding-right: 25px;
    padding-left:  25px;
}

#multiCol p{
    margin: 0;
    text-indent: 25px;
}