body {
    background-color: midnightblue;
}

#wrap {
    width: 795px;
    margin: 10px auto;
    border: 1px solid black;
    background-color: aliceblue;
}

h2 {
    background-color: cadetblue;
    margin: 0;
    border-top: 1px solid black;
    border-bottom: 1px dashed black;
    padding: 5px;
}

p {
    margin: 10px;
}

#demo1 p {
    letter-spacing: 5px;
}

#demo2 p {
    text-align: center;
}

#demo3 p {
    text-align: justify;
    text-align-last: center;
}

#demo4 p {
    text-indent: 100px;
}

#demo5 p {
    font-size: 2rem;
}

#demo6 p {
    font-weight: bold;
}

#demo7 p {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px rgba(255, 0, 255, .3);
}

#demo8 p {
    text-transform: capitalize;
}

#demo9 p {
    word-wrap: break-word;
    width: 175px;
    border-right: 1px dotted red;
}

#demo9 span {
    color: orange;
}

#demo10 p {
    font-style: oblique;
}

#demo11 p {
    font-variant: small-caps;
}

#demo12 p {
    text-decoration: overline;
}

#demo13 p {
    line-height: 1.3;
}

#demo14 p {
    font-family: 'Franklin Gothic Book', "Courier New", sans-serif;
}

#demo15 p {
    font-family: 'Indie Flower', cursive;
}