/* Print Screen */

#head img {
    display: none;
}

#head h1 {
    text-align: center;
    margin-top: -45px;
    color: black;
    font-family: times;
}

#nav {
    display: none;
}

#content1 {
    padding: 7.7%;
}

#content1 img {
   display: none;
}

#content2 {
    float: none;
    padding-right: 15%;
}

.title {
    clear: both;
    padding-top: 7%;
}

#art1 {
    float: left;
    width: 33.3%;
}

#art2 {
    float: left;
    width: 33.3%;
}

#art3 {
    float: right;
    width: 33.3%;
}
#foot {
    clear: both;
    background-color: white;
    height: 25px;
}

#foot p {
    margin: 7.7%;
    color: black;
    font-size: 1em;
}