body {
    background-color: orange;
    font-family: sans-serif;
}
#page {
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
}
header {
    height: 125px;
    background-color: turquoise;
    padding-left: 90px;
    padding-top: 50px;
}
main {
    padding-left: 90px;
    padding-right: 90px;
}
section{
    margin-top: 64px;
}
li {
    margin-top: 1.3em;
}
#img1 {
    width: 575px;
}
.indent {
    padding-left: 80px;
}
section p {
    padding-left: 80px;
    line-height: 1.3em;
}
footer {
    height: 100px;
    background-color: turquoise;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
}
footer p {
    margin: 0;
}
h6 {
    margin-bottom: 0;
    margin-top: 5px;
}
cite {
    font-size: 10px;
    display: block;
}