body {
    background-color: #000;
    font-family: sans-serif;

}
#wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    font-family: 'Acme', sans-serif;
}
header {
    background-color: #b58e41;
    color: white;
    max-width: 960px;
    height: 130px;
    padding-left: 8.5%;
    padding-top: 1.5%;
}

h1{
    margin-bottom: 10px;
}
h2 {
        color: #382926;
}
footer {
    height: 25px;
    font-size: .9rem;
    background-color: #b58e41;
}
.indent {
    padding-left: 8.5%;
}
section p {
    padding-top: 2.75%;
    padding-bottom: 2.75%;
}
footer p {
    padding-top: -1%;
}