
/*  Keyframes for the ball moving.  */
@keyframes movex {
	from { left: 0; } to {left: 675px; }
}

@keyframes movey {
	from { top: 0; } to {top: 475px; }
}



	
/*  Put keyframes for the navigatin shadow here.----- */




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body {
	background-color: yellow;
	font-family: sans-serif
}

#page {
	position: relative;
	width: 90%;
	margin: 0 auto;
}
nav {
	height: 3rem;
}

nav ul {
	padding-top: 1rem;
}

nav ul li {
	display: inline-block;
	margin-left: 3.5rem;
	padding-right: 3rem;
	
}

nav a {
	text-decoration: none;
	font-size: 1.2rem;
	color: darkseagreen;
	transition-property: letter-spacing;
	transition-duration: 1s;
	
}




nav a:hover {
	color: #d00;
	letter-spacing: 1px;
	text-shadow: -10px 10px 15px #c80000;
}






h2 {

	margin-left: 1rem;
	font-size: 4em;
	color: #dd0000;
}

img#clown1 {
	margin-top: -175px;
	margin-left: 6rem;
}

#boxAnimate {
	position: relative;
	top: -800px;
	left: 500px;
	width: 700px;
	height: 500px;
	background-color: lightgoldenrodyellow;
	box-shadow: inset 3px 3px 15px lightgray;
	border: 2px solid lightgray;
	overflow: hidden;
}

/*	  The ball  */
#ball1 {
	display: block;
	width: 25px;
	height: 25px;
	background-color: #d00;
	border-radius: 50%;
	box-shadow: inset -5px -5px 5px rgba(10,0,0,.6), 15px 15px 2px rgba(10,0,0,.04);
	position: absolute;
	animation: movex 4s linear 0s infinite alternate, 
		movey 3.6s linear 0s infinite alternate;
	animation-direction: alternate;
}

#ball2 {
	display: block;
	width: 25px;
	height: 25px;
	background-color: green;
	border-radius: 50%;
	box-shadow: inset -5px -5px 5px rgba(10,0,0,.6), 15px 15px 2px rgba(10,0,0,.04);
	position: absolute;
	animation: movex 3s linear 0s infinite alternate, 
		movey 3.6s linear 0s infinite alternate;
}

#ball3 {
	display: block;
	width: 25px;
	height: 25px;
	background-color: yellow;
	border-radius: 50%;
	box-shadow: inset -5px -5px 5px rgba(10,0,0,.6), 15px 15px 2px rgba(10,0,0,.04);
	position: absolute;
	animation: movex 3s linear 0s infinite alternate, 
		movey 4.6s linear 0s infinite alternate;

}

#ball4 {
	display: block;
	width: 25px;
	height: 25px;
	background-color: darkcyan;
	border-radius: 50%;
	box-shadow: inset -5px -5px 5px rgba(10,0,0,.6), 15px 15px 2px rgba(10,0,0,.04);
	position: absolute;
	animation: movex 2s linear 0s infinite alternate, 
		movey 3.6s linear 0s infinite alternate;
}

/*  --------------------------------------   */

#boxPic {
	position: relative;

	height: 350px;
	width: 234px;
	background-color: darkseagreen;
	transform: translate(960px, -760px) rotate(-15deg);
	
	
}

h2 {
	transform-origin: left;
	transform: translate(37px, 307px) rotate(-90deg) ;
}


img#clown2 {
	position: relative;
	left: 60rem;
	top: -1110px;
/*	bottom: 30rem;*/
	
}

footer {
	position: relative;
	width: 300px;
	top: -1140px;
	left: 10.5rem;
	color: darkseagreen;
	
}