		/* Colors */
		/*    brown: #660000
		      green: #336600
		      yellow: #ffffdd
		      light cream: #fffffe
			                    */	
body {
    background-color: #8F9C7F;


}

#page {
    max-width: 1280px;
    min-width: 660px;
    width: 80%;
    background-color: #fffffe;
    border-left: 1px solid #336600;
    border-right: 1px solid #336600;
    box-shadow: 7px 7px 16px 0px rgba(51,102,0,0.7);
        margin: 0 auto;
}

header {
    background-color: #660000;
    font-size: 8rem;
}

header img{
    
    height: 100%;
   max-width: 100%;
}

nav {
    height: 1.25rem;
    background-color: $660000;
    padding-top: .1rem;
}

#imgCol {
    float: left;
    margin-top: .9375rem;
    margin-left: .625rem;
    width: 25%;
    display: block;
}

#imgCol img {
    width: 100%;
}

#imgCol p {
    font-size: .75rem;
    text-align: center;
    color: #336600;
}

section {
    float: left;
    width: 70%;
    margin: .625rem 1% 0rem;
}

#leftCol {
    float: left;
    width: 56%;
    font-size: 1rem;
}

#rightCol {
    float: right;
    width: 31%;
    padding: 1rem 1%;
    font-size: 1rem;
    border-radius: .625rem;
    background: rgba(210,255,82,1);
    background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 67%, rgba(145,232,66,1) 100%);
}

footer {
    height: 1.25rem;
    background-color: #660000;
    clear: both;
}

footer p {
    font-size: .75rem;
    margin-left: 27%;
    padding-top: .2rem;
    color: white;
}