/* .wrapper {
    display: grid;
    grid-template-columns: 200px 300px 100px 150px;
    grid-template-rows: 100px 50px 75px;
} */

.wrapper {
    display: grid;
    width: 80%;
    /* grid-template-columns: 200px 300px 100px 150px; */
    /* grid-template-rows: 100px 50px 75px; */
    /* grid-template-columns: 25% 20% 30% 25%; */
    /* grid-template-rows: 10rem 5rem 7rem; */

    grid-template-columns: repeat(2, 100px) repeat(2, 50px) 200px;
    grid-template-rows: repeat(4,50px);

    grid-gap: .5rem;
    
}