html {
    font-size: 32px;
}
table, th, td {
    width: 90%;
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
}
th {
    background-color: deepskyblue;
}
td {
    padding: 5px;
}
.side {
    width: 10%;
}
.px {
    font-size: 10px;
}
.rem {
    font-size: .625rem;
}
.em {
    font-size: .625em;
}
.vw {
    font-size: 1.5vw;
}
.pc {
    font-size: 50%;
}
