#block2 {
    font-size: 24px;
}

#block1 p:first-child {
    color: red;
}

#block1 p:last-child {
    color: blue;
}

p:only-child {
    color: green;
}

h2 ~ p {
    text-indent: 100px;
}

h2 + p {
    text-indent: 75px;
}

p:only-of-type {
    background-color: antiquewhite;
}


li:first-of-type {
    background-color: bisque;
}

li:last-of-type {
    background-color: azure;
}

/*
table {
    border-spacing: 5px;
    empty-cells: hide;
}
*/

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: .3em;
}

/*
td {
    height: 150px;
    width: 30px;
    text-align: right;
    vertical-align: bottom,
}
*/

tr:nth-child(odd) {
    color: orange;
}

tr:nth-child(even) {
    color: green;
}

tr:nth-child(3n+1) {
    background-color: aliceblue;
}

td:nth-child(2n+1) {
    background-color: lightgrey;
}

tr:nth-of-type(5) {
    color: red;
    font-size: 18px;
}

tr:nth-last-of-type(3) {
    color: blue;
    font-size: 18px;
}

a [class="final"] {
    color: red;
}

a[class^="new"] {
    color: green;
}

a[href$="edu"]{
    color: purple;
    font-size: 18px;
}

a[href*="microsoft"]{
    color: brown;
    font-size: 18px;
}

a[class~="new"]{
    font-weight: bold;
    color: darkgreen;
}

input[type="checkbox"]:checked{
    width: 1.5em;
    height: 1.5em;
}

input[type="text"]:enabled{
    background-color: lightgreen;
}

input[type="text"]:focus{
    background-color: lightblue;
}

input[type="text"]:disabled{
    background-color: lightcoral;
}


