body {
    background-color: oldlace;
}

#page {
    width: 50%;
    background-color: white;
    margin: 0 auto;
}

section > h2 {
    height: 1.5em;
    padding: .75rem 1rem;
    background-color: aliceblue;
}

article {
    padding-top: .5rem 1rem 1.5rem;
}

article:nth-of-type(1) {
    column-count: 5;
}

article:nth-of-type(2) {
    column-count: 5;
    column-width: 200px;
}
article:nth-of-type(3) {
    column-count: 5;
    column-width: 28rem;
}

article:nth-of-type(4). article:nth-of-type(5) {
    column-count: 5;
    column-width: 150px;
    column-gap: 1.5rem;
    column-rule-width: .1em;
    column-rule-style: solid;
    column-rule-color: darkgrey;
}

article:nth-of-type(5) > h3 {
    column-span: all;
}

article:nth-of-type(6){
    column-count: 6;
}

article:nth-of-type(6) > p:nth-of-type(3) {
    break-after: column;
}

article:nth-of-type(6) > h3 {
    margin-top: 0;
}

h3:first-child {
    margin-top: 0;
}

article:nth-of-type(1) > h3:nth-of-type(2) {
    break-before: column;
    margin-top: 0;
}